[submodule "autosoaring"]
	path = autosoaring
	url = https://github.com/ZebuleETS/autosoaring.git
[submodule "PX4-Autopilot-soaring"]
	path = PX4-Autopilot-soaring
	url = https://github.com/ZebuleETS/PX4-Autopilot-soaring.git
